@charset "utf-8";
/* reset_1.0.css @author:wh-Aiten */
/* reset_1.0.css @time:2016-6-16 09:30:00 */
/* start reset */
body { font: 14px/1.2 'Microsoft Yahei'; -webkit-font-smoothing:antialiased; background: transparent; }
body, h1, h2, h3, h4, h5, h6, p, dl, dd, ul, ol, p, form, input, textarea, th, td, select { margin: 0; padding: 0; }
li { list-style: none; }
a { text-decoration: none; }
img { border: none; vertical-align: top; }
table { border-collapse: collapse; }
textarea { resize: none; overflow: auto; }
input { border: none 0; outline: none; font-family: "Microsoft YaHei"; /*-webkit-appearance: none;*/ }
h1, h2, h3, h4, h5, h6,strong, em, i { font-style: normal; font-weight: normal; }

fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, figcaption, figure, 
 footer, header, hgroup, menu, nav, section, summary,
 time, mark, audio, video {margin:0;padding: 0;}
article,aside,details,figcaption,figure,
 footer,header,hgroup,menu,nav,section { 
     display:block;
}
/* end reset */

/*custom css start*/
.pr{display: block; position:relative;}
.pa{display: block; position:absolute;}
.pf{display: block; position:fixed;}
.al { text-align: left; }
.ar { text-align: right; }
.ac { text-align:center; }
.fl { display: inline; float: left; }
.fr { display: inline; float: right; }
.clear:after { display: block; content: "."; height: 0; clear: both; visibility: hidden; }
.clear { zoom: 1; }
.es { display: block; overflow: hidden; width: auto; white-space: nowrap; text-overflow: ellipsis; }
.bs { -webkit-box-sizing: border-box; }
.transparent:link{-webkit-tap-highlight-color: transparent;}
.dn {display:none; }
.dib { display: inline-block; *display: inline; zoom: 1; }
.db {display:block;  }
/*custom css end*/